# This is an example of a .env file. Copy this to .env and fill in the values.

# Clerk Publishable Key for Expo Client (development)
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_live_replace_with_your_own_key